### Instação de Dependências

In [ ]:
%pip install pandas sqlalchemy pymysql snowflake-connector-python snowflake-sqlalchemy ipython-sql

### Importação de Bibliotecas

In [ ]:
from os import getenv
import pandas as pd
from sqlalchemy import create_engine
from snowflake.sqlalchemy import URL
from dotenv import load_dotenv

### Carregamento de funções

In [ ]:
load_dotenv()

In [5]:
%load_ext sql

### Conexão MySQL

In [6]:
user = getenv('MYSQL_USER')
password = getenv('MYSQL_PASSWORD')
database = getenv('MYSQL_DATABASE')
mysql_conn_string = f'mysql+pymysql://{user}:{password}@localhost/{database}'
mysql = create_engine(mysql_conn_string)

### Conexão SnowFlake

In [7]:
snowflake_conn_string = URL(
    account= getenv('SNOWFLAKE_ACCOUNT'),
    user= getenv('SNOWFLAKE_USER'),
    password= getenv('SNOWFLAKE_PASSWORD'),
    database= getenv('SNOWFLAKE_DATABASE')
)
snowflake = create_engine(snowflake_conn_string)

### Extract Load do Mysql para o Snowflake Staging

In [10]:
oltp_tables = ['vendas', 'itens_venda','produto','classificacao']

for table in oltp_tables:
    pd.read_sql_table(table,mysql).to_sql(
        name=table,
        con=snowflake,
        schema='staging',
        if_exists='replace',
        index=False
    )

### ETL - Staging para Data Warehouse

In [12]:
%sql $snowflake_conn_string

In [17]:
%%sql
CREATE OR REPLACE TABLE dw.F_VENDAS AS SELECT
	CONCAT(iv.codvenda,iv.codproduto) as venda_sk,
	v.codvenda,
	v.datavenda,
	v.codcliente,
	v.codvendedor,
	iv.codproduto,
	p.VALOR as valor
FROM staging.vendas v
INNER JOIN staging.itens_venda iv on v.codvenda = iv.codvenda
INNER JOIN staging.produto p on iv.codproduto = p.CODIGO

 * snowflake://juscostajr:***@CCBJZPK-ZU70083/bi
1 rows affected.

[('Table F_VENDAS successfully created.',)]

In [22]:
%%sql
CREATE OR REPLACE TABLE dw.D_PRODUTO AS SELECT
	p.CODIGO as codProduto,
	p.DESCRICAO as descricao,
	CASE p.TIPO
		WHEN 'P' THEN 'Produto'
		WHEN 'S' THEN 'Serviço'
		ELSE 'Outros'
	END as tipo,
	c.DESCRICAO as classificacao
FROM staging.produto p
LEFT JOIN staging.classificacao c ON p.CODIGO_CLASSIFICACAO = c.CODIGO

 * snowflake://juscostajr:***@CCBJZPK-ZU70083/bi
1 rows affected.

[('Table D_PRODUTO successfully created.',)]